<form action="/random/results">
                      
 <label for="mininput">Minimum</label>
 <input id="mininput" type="text" placeholder="E.g. 1.4" name="min_input">

<label for="maxinput">Maximum</label>
 <input id="maxinput" type="text" placeholder="E.g. 1.5" name="max_input">


 <button>Pick random number</button>
</form>
