<h1>hello</h1>

<form>
 <label for="outcome">Enter a number</label>
 <input id="outcome" type="text" placeholder="What number do you want to square?" name="input1">


 <button>Calculate square</button>
</form>
